[adapter]
# the port of the learner component
localCommunicationPort = 18200
[sender]
# the IP and port of the learned server or client
serverIP = "172.31.23.235"
serverPort = 20000
# time waited to receive each response
waitTime = 0.1
# use tracker to catch responses in addition to scapy
useTracking = True
networkInterface = "eth0"
# enable socket command inputs (not only packets)
sendActions = True
[actionSender]
# the IP and port of the TCP adapter
cmdIP = "172.31.19.244"
cmdPort = 6000
